{% extends 'feed/base.html' %}   

{% block header %}
    <h1 class="h3 mb-0 text-gray-800">{% block title %}Dashboard{% endblock %}</h1>
    {% if g.user %}
        <a href="{{ url_for('feed.create') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
            class="fas fa-plus fa-sm text-white-50"></i> New </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if issues == [] %}
        <div>
            No issues yet. Check back later!
            <i class="fas fa-solid fa-dragon"></i>
        </div>
    {% endif %}
    {% for issue in issues %}
        <!-- Dropdown Card Example -->
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div
                class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">{{ issue["title"] }}</h6>
              
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                        aria-labelledby="dropdownMenuLink">

                        <div class="dropdown-header">Dropdown Header:</div>
                        {% if g.user['id'] == issue['author_id'] %}
                            <a class="dropdown-item" href="{{ url_for('feed.update', id=issue['id']) }}">Edit</a>
                        {% endif %}
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="about">
                    <div class="row">
                        <div class="col">by {{ issue['authorname'] }} on {{ issue['created'].strftime('%Y-%m-%d') }}</div> 
                        <div class="col-auto">
                            {% if issue["assignees"] != None %}
                                assigned to {{ issue['assignees'] }}
                            {% endif %} 
                        </div>
                    </div>

                </div>
                <hr>
                <p>{{ issue["body"] }}</p>
                
            </div>
        </div>
    {% endfor %}
{% endblock %}
