<!-- Template to render when user tries to access something that requires admin access -->

{% extends 'base.html' %}

{% block title %} Denied {% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="Denied">Denied</div>
            <p class="lead text-gray-800 mb-5">Sorry! This page requires admin status to access</p>
            <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
            <a href="index.html">&larr; Back to Dashboard</a>
        </div>

    </div>
    <!-- /.container-fluid -->

{% endblock %}