{% extends 'base.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    <h1 class="h3 mb-0 text-gray-800">{% block title %}Manage Users{% endblock %}</h1>
{% endblock %}
    <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below.
        For more information about DataTables, please visit the <a target="_blank"
            href="https://datatables.net">official DataTables documentation</a>.</p>

{% block content %}

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!---<tfoot>
                        <tr>
                            <th>Name</th>
                            <th>Position</th>
                            <th>Office</th>
                            <th>Age</th>
                            <th>Start date</th>
                            <th>Salary</th>
                        </tr>
                    </tfoot> --->
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{user["firstname"]}} {{user["lastname"]}}</td>
                                <td>
                                    {% if user["is_admin"] %}
                                        <b>Admin</b>
                                    {% else %}
                                        User
                                    {% endif %}
                                </td>
                                <td>
                                    {% if not user["is_admin"] %}
                                        <a href="#" data-action="{{ url_for('admin.promote', id=user['id']) }}" data-toggle="modal" data-target="#userModal" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm">
                                            Promote User</a>

                                    {% endif %}  
                                </td>

                            </tr>
                            <tr>

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block plugins %}


    <!-- Logout Modal-->
    <!-- Not really a plugin but fits here a little better than content-->
    <div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Are you sure you want to promote this user?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <form id="user-modal-submit" action="" method="post">
                    </form>
                    <button class="btn btn-success" type="submit" form="user-modal-submit">Promote User</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        $('#userModal').on('shown.bs.modal', function(event) {
            // The reference tag is your anchor tag here
            let reference_tag = $(event.relatedTarget); 
            $('#user-modal-submit').attr("action", reference_tag.data('action'));
        })


    </script>
    <!-- Page level plugins -->
    
    <script src="{{ url_for('static', filename='sb-admin-2/vendor/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js') }}"></script>

    <!-- Page level custom scripts -->
    <script src="{{ url_for('static', filename='sb-admin-2/js/demo/datatables-demo.js') }}"></script>
{% endblock %} 